@import '../../VariablesSCSS/Variable.scss';
.famous{
    background-repeat: no-repeat;
    background-position: right  center;
    background-size: contain;
    padding: 80px 0;
    margin:40px 0 ;
    &__slide{
        margin-top: 40px;
        padding: 10px 0;
    }
    &__title{
        width: 756px;
        max-width: 100%;
    }
    &__btn{
        @include button;
        display: inline-block;
        margin-top: 46px;

    }
}