@import '../../VariablesSCSS//Variable.scss';
.header{
    padding: 38px 0 28px;
    background-color:#FFF9F3;
    &__filter{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        font-family: 'Poppins';
        text-transform: uppercase;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #3E3E3E;
         &--img{
            width: 60px;
            height: 60px;
        }
    }
    &__form{
        width: 760px;
        padding: 8px 12px 8px 8px;
        padding-right: 15px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        background-color: #FFFFFF;
    }
    &__select{
        padding: 8px 14px 8px 24px;
        background: #F5F6F8;
        font-family: "Poppins", sans-serif;
        color: #3E3E3E;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        border-radius: 50px;
        border: none;
        
    }
    &__input{
        flex-grow: 1;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #3E3E3E;
        margin-right: 20px;
        border: none;
        outline: none;
        margin-left: 15px;
        &::placeholder{
            color: #9A9A9A;
        }
    }
    &__search{
        background-color: transparent;
        cursor: pointer;
        border: none;
    }
    &__nav{
        margin-top: 30px;
        
    }
    &__list{
        display: flex
    }
    &__item{
        margin-right: 48px;
    }
    &__link{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #3E3E3E
    }
    &__btn{
        @include button;
        display:flex;
        align-items: center;
        
    }
    .phone{
        margin-right: 15px;
    }
}
.active{
    color: #156963;
}




.mobile{
    display: none;
    background-color: #FFFF;
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0 ;
    }
}



.menu{
    position: fixed;
    top: 0;
    left:  0;
    bottom: 0; 
    right: 0;
    background-color: rgba($color: #156963, $alpha: .3);
    transform: translateY(-100%);
    transition: .6s ease-in-out;
    z-index: 2;

    &__active{
        transform: translateY(0);
        transition: .6s ease-in-out;
    }
    &__list{
        display: flex;
        transform: translateX(100%);
        transition: .6s ease-in-out;
        flex-direction: column;
        width: 250px;
        padding: 10px 30px;
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        background-color: #156963;
        &--active{
            transform: translateX(0);
            transition: .6s ease-in-out;
        }
    }

    &__logo{
        margin-top: 30px;
        color: #ffffff;
        text-transform: uppercase;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        text-shadow:  3px 3px #3E3E3E;
        margin-bottom: 20px;
       
    }
    &__link{
        color:  #ffffff;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-shadow:  2px 2px #3E3E3E;

    }
    &__item{
        margin-bottom: 10px;
    }
}











@media screen and (max-width:1300px) {
    .phone{
        display: none;
    }
    .header__btn{
        width: 300px;
        padding-left:10px ;
        display: block;
        padding-right: 10px;
        text-align: center;
    }
}
@media screen and (max-width:800px) {
    .header{
        display: none;
    }
    .mobile{
        display: block;
    }
}