.footer{
    padding: 100px 0;
    background-color: #156963;
   position: relative;
    &__text{margin-top: 50px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 33px;
        color: #ffffff;
    }
    &__social{
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content:space-betweengit ;
        width:50%;
        margin: 0  auto;
        max-width: 100%;
        padding-left: 0;
        &--item{
            margin-right: 40px;
            &:last-child{
                margin-right: 0;
            }
        }
        &--link{
            transition: .3s;
            color: #ffffff;
            font-size: 20px;
            &:hover{
                opacity: .5;
                transition: .3s;
                color: #ffffff;
            }
        }
        &--icon{
            transform: scale(1.5);
        }
    }
 
}
@media screen and (max-width:800px) {
  .footer{
    padding: 60px 0 100px;
    background-color: #156963;
   
 
    &__social{
        margin-top: 30px;
        justify-content:space-between ;
        width:90%;
        margin: 0 auto;
        padding-left: 0;
        &--item{
            margin-right: 36px;
    
            &:last-child{
                margin-right: 0;
            }
        }
        &--link{
            transition: .3s;
            color: #ffffff;
            font-size: 20px;
            &:hover{
                opacity: .5;
                transition: .3s;
                color: #ffffff;
            }
        }
        &--icon{
            transform: scale(1.5);
        }
    }
 
}
}